<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044105916142-esrd6gt3nmq41k943j0q0kl9p7vi325f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044105916142-esrd6gt3nmq41k943j0q0kl9p7vi325f</string>
	<key>API_KEY</key>
	<string>AIzaSyDDLHUKV1xUcKq-zUwufkZDvMKfwXQ4dkg</string>
	<key>GCM_SENDER_ID</key>
	<string>1044105916142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFirestoreDatabaseProject</string>
	<key>PROJECT_ID</key>
	<string>firebase-database-project</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-database-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044105916142:ios:d463901dd6b6366eb6cdff</string>
</dict>
</plist>